
.rainbow {
  width: 300px;
  @apply rounded-md object-cover;
  height: 300px;
  border-radius: 20px;
  padding: 0rem;
  margin: auto;

  display: grid;
  

  font-size: 1.5em;

  --border-size: 0.2rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #2563eb 0deg 90deg,
      #1e3a8a 270deg 360deg
    )
    1 stretch;
  background: rgb(24 26 28 / var(--opacity));
}

.rainboww {
  width: 400px;
  @apply rounded-md object-cover;
  height: 300px;
  border-radius: 20px;
  padding: 0rem;
  margin: auto;

  display: grid;
  

  font-size: 1.5em;

  --border-size: 0.2rem;
  border: var(--border-size) solid transparent;

  /* Paint an image in the border */
  border-image: conic-gradient(
      from var(--angle),
      #2563eb 0deg 90deg,
      #1e3a8a 270deg 360deg
    )
    1 stretch;
  background: rgb(24 26 28 / var(--opacity));
}

/** show a warning in browers that don't support it **/
.warning {
  margin: 2em;
  padding: 1em;
  border: 1px solid #ccc;
}
.warning p {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Animate when Houdini is available */
@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .rainbow {
    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }

  /* Hide the warning */
  .warning {
    display: none;
  }
}



